<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>MaGiCiAnS pAy</title>

  <link rel="stylesheet" href="/css/front.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <script src="https://kit.fontawesome.com/cfb1ee69b1.js" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">

  

</head>

<body>

  <section id="title">
    <div class="container">

      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/"><i class="fab fa-monero"></i>MAGIC PAY</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="singup">SignUp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#protect">Help</a>
            </li>

          </ul>
        </div>

      </nav>
      <img class="pic" src="images/i3.jpg" alt="iphone-mockup">
      <h1 class="tab"> YOUR MONEY... <br>OUR GAURANTEE</h1>
    </div>

  </section>

  <section>
    <div class="f2">


      MagicPay is a financial institution where customers can save or borrow money.
      Pay and receive money instantly using your existing bank accounts. No more reloading mobile wallet balances or withdrawal fees. It’s your money, made simple.
    </div>
  </section>

  <section id="cta">

    <h3 class="bottom">Getting started is quick and easy</h3>
    <div class="row r1">
      <div class="col-lg-3">
        <i class="fas fa-user-plus i1 fa-4x"></i>
        <p class="names">Register/Signup</p>

      </div>
      <div class="col-lg-3">

        <i class="fas fa-key i1 fa-4x"></i>
        <p class="names">Login/ Enter</p>
      </div>
      <div class="col-lg-3 ">
        <i class="fas fa-link i1 fa-4x"></i>
        <p class="names">Link your bank account</p>
      </div>
      <div class="col-lg-3">
        <i class="fas fa-check-double i1 fa-4x"></i>
        <p class="names">Ready to go!</p>
      </div>
  </section>

  <section id="protect">
    <i class="fas fa-fingerprint fa-4x icon"></i>
    <h1>Your money is protected</h1><br>
    <p class="down">MagicPay protects your money with a world class security system that helps detect fraud and prevents hacking. Safeguard your account with your screen lock, such as your fingerprint. If you need assistance, please visit 'Help and
      Feedback' in the app to connect with a support specialist

      <br><br>Call us 24/7 at our toll-free support number:8805261127</p>
  </section>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="" charset="utf-8"></script>
</body>

</html>
