.navbar .navbar-brand{
  /* /color: #fff; */
  font-weight: bolder;
  font-size: 2.4em;
}

.container1 {
  padding: 1%;
}

li{
  font-size: 20px;
  padding: 20px;
}

.b1{
  width: 35%;
  height: 50px;
  font-size: 30px;
}
